form {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc; /*sets the border background*/
    border-radius: 5px; /*rounds the edges of the border*/
    background-color: #f9f9f9; /*sets background color of each form*/
    font-family: Arial, Helvetica, sans-serif;
}

nav ol {
    font-family: "Brush Script MT", cursive;
    font-size: 15px;
    font-weight: none;
}
nav a {
    font-family: "Brush Script MT", cursive;
    font-size: 15px;
    text-decoration: none;
    font-weight: none;
    transition: 0.2s ease-in-out;
}

nav a:hover {
    font-size: 20px;
    font-weight: bold;
}

nav a:visited {
    color: green;
}

input[type="radio"] {
    cursor: pointer;
    transition: 1s ease-in-out;
    width: 15px;
    height: 15px;

    transition: 0.2s ease-in-out
}

input[type="radio"]:hover {
    accent-color: blue;
    box-shadow: 0 0 0 0.5px blue;
    width: 25px;
    height: 25px;
}

textarea {
    width: 50%;
    height: 3em;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    transition: 1s ease-in-out;
    font-family: 'Times New Roman', Times, serif;
}

textarea:focus { 
    height: 10em;   
    width: 100%;
}

button[type="reset"],
button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.5s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

button[type="reset"]:hover,
button[type="submit"]:hover {
    background-color: #0056b3;
}

.media {
    background-color: green;
    color: white;
    margin-bottom: 10px;
    border: solid darkgreen;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    height: 4em;
    width: 9em;
    transition: 0.5s ease-in-out;
}

.media:hover {
    height: 6em;
    width: 13.5em;
    background-color: darkgreen;
    border-radius: 200px;
    border: solid black
}

.media a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.media a:visited {
    color: white;
    text-decoration: none;
}

